@media screen and (max-width: 480px) 
{
    
    .barratop{
        height:7.5vh;
        width:100%;
        background-image: linear-gradient(to right, black 27vw, orange 50px);
    }
    
    .logo{
        position: relative;
        width: 25%;
        height: 220%;
        top: -60%;
        left: 1%;
    }

    nav{
        position: absolute;
        top: 0%;
        right: 3%;
        font-family: monospace;
    }
    
    nav li{
        padding: 10px;
        text-shadow: 2px 2px 1px black;
        color: white;
        font-size: 1em;
        list-style-type: none;
        font-weight: bold;
        background-size: 50%;
        background-color: black;
        border: 1px solid black;
        border-radius: 15px 15px 15px 15px;
    }

    #logop{
        width: 40%;
        height: 35%;  
        margin: auto;
        display: block;
        margin-top: -8.5%;
        filter: drop-shadow(5px 5px 1px black);
    }

    p{
        text-shadow: 2px 2px 2px black;
        color: white;
        margin-top: -8%;
        margin-bottom: -15%;
        text-align: center; 
        font-size: 99%;
    }

    ul{
        display: flex;
        padding-right: 0;
        padding-left: 0;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
    }

    .animes{
        display: flex;
        width: 90%;
        padding: 0%;
        height: 5%;
        margin-top: 8%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255, 255, 255, 0.154);
        border-radius: 20px;
        transition: 0.5s all;
    } 

    .dbimg{
        width: 25.5%;
        height: 25.5%;
        border-radius: 200%;
        object-fit: cover;   
        margin-top: 0%; 
        margin-bottom: 0.2%;
    }
    
    #dbtext{
        margin: 0%;
        margin-top: 9%;
        margin-left: 3%;
    }
    
    .animesimg{
        width: 23.5%;
        height: 24%;
        border-radius: 0%;
        clip-path: circle(49.5%);
        object-fit: cover;
        margin-top: 0.8%;
        margin-bottom: 1%;
        margin-left: 1%;
    }

    #imgnaruto{
        width: 33%;
        height: 33%;
        border-radius: 50%;
        clip-path: circle(40%);
        object-fit: cover;
        margin-top: 0.8%;
        margin-left: -4%;
   
    }

    #text_naruto{
        position: relative;
        left: 0.5%;
        margin-left: -0.5%;
    }

    .animes:hover{
        width: 90%;
        height: 20%;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    
    main li{
        list-style-type: none;
    }
    
    .text_animes{
        font-size: 1.4em;
        margin-top: 9%;
        margin-left: 4.5%;
    }
    
}