@media screen and (max-width: 480px) 
{
    body{
        background-image: repeating-linear-gradient(0deg, transparent 30px 78.1px, black 1px 80px), 
        repeating-linear-gradient(90deg, rgb(4, 169, 13) 30px 78.1px, black 1px 80px);
    }
    
    .barratop{
        height:7.5vh;
        width:100%;
        background-image: linear-gradient(to right, black 27vw, orange 50px);
    }
    
    .logo{
        position: relative;
        width: 25%;
        height: 220%;
        top: -60%;
        left: 1%;
    }

    nav{
        position: absolute;
        top: 0.5%;
        right: 3%;
        font-family: monospace;
    }
    
    nav li{
        padding: 10px;
        text-shadow: 2px 2px 1px black;
        color: white;
        font-size: 1em;
        list-style-type: none;
        font-weight: bold;
        background-size: 50%;
        background-color: black;
        border: 1px solid black;
        border-radius: 15px 15px 15px 15px;
    }

    h1{
        text-align: center;
        color: white;
        font-size: 2.5em;
        margin-bottom: 2%;
        margin-top: -5%;
        text-shadow: 3px 3px 4px black;
        font-family: 'Anton', sans-serif;
        font-weight: normal;
    }

    ul{
        padding: 0%;
    }
    
    li{
        list-style: none;
    }
    
    .titulo {
        color: rgb(255, 238, 0);
        margin: 60px 0;
        margin-left: 4%;
        font-size: 1.5em;
        text-shadow: 4px 4px 4px black;
        font-family: 'Anton', sans-serif;
        margin-bottom: 0%;
    }
    
    .triangulo{
        margin-left: 5px;
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 22px solid yellow;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 0px solid transparent;
        filter: drop-shadow(3px 3px 1px black);
    }
    
    li table{
        border: 1px solid black;
        width: 95%;
        height: 30%;
        margin-top: 10%;
        margin-right: 1%;
    }
    
    thead{
        background-color: rgb(39, 39, 39);
        color: white;
        text-align: center;
    }
    
    tbody{
        text-align: center;
        background-color: white;
    }
    
    tr th{
        border: 1px solid black;
        width: 10%;
        height: 40px;
        font-weight: bold;
        vertical-align: middle;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.7em;
    }
    
    tr td{
        border: 1px solid black;
        height: 200px;
        vertical-align: middle;   
        padding: 0 20px; 
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.2em;
        font-size: 0.7em;
    }
    
    #descricao{
        width: 40%;  
    }
    
    #aberturaclick{
        transition-property: none;
        transition: 0s;
    }
    
    #dropdown_abertura{
        background-color: rgba(255, 255, 255, 0.249);
        width: 94%;
        margin-left: 0%;
        display: block;
        transition: 10s;
        margin-top: 5%;
        justify-content: center;
        transition: 0%;
    }
    
    ul section:hover #dropdown_abertura {
        display: block; 
    }
    
    .videos{
        display: flex;
        justify-content: center;
        margin-right: 0%;
        flex-direction: column;
        justify-content: space-around;
        margin: 0%;
        padding: 0%;
    }

    .videos > div{
        display: flex;
        margin-top: 7%;
        margin-right: 0%;
        padding: 0%;
        width: 100%;
        justify-content: center;
    }
    
    #video3{
        display: flex;
        margin-top: 7%;
        justify-content: center;
        padding: 0%;
        width: 100%;
        height: 50%;
        margin-left: 0%;
        margin-bottom: 5%;
    }

    .opening{
        width: 100%; 
        padding: 0%;
        height: 250px;
    }

    #videodbz{
        margin-left: 0%;
    }
}