body{
    background-color: #0038FF;
    margin: 0%;
}

.barratop{
    height:85px;
    width:100%;
    background-color:orange;
    margin-bottom:50px;
}
.logopreto{
    width:14%;
    height:85px;
    background-color:black;
}
.logo{
    width: 90%;
    height: 250%;
    margin-left:3%;
    margin-top: -30%;
}
#logop{
    width: 20%;
    height: 15%;  
    margin: auto;
    display: block;
    margin-top: -10%;
    margin-bottom: -40px;
    filter: drop-shadow(3px 3px 1px black);
}

nav{
    position: absolute;
    top: 5px;
    right: 80px;
}

nav li{
    padding: 10px;
    text-shadow: 2px 2px 1px black;
    color: white;
    font-size: 25px;
    list-style-type: none;
    font-weight: bold;
    background-size: 50%;
    background-color: black;
    border: 1px solid black;
    border-radius: 15px 15px 15px 15px;
    text-decoration: none;
}

h2{
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-bottom: -6%;
}


#legend1{
    text-align: center;
    font-size: 28px;
    margin-bottom: 2%;
    color: white;
    text-shadow: 2px 2px 2px black;  
}

form{
    margin-top: 10%;
}

form label{
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-left: 35%;
    font-size: 1.2em;
}

.input-padrão{
    width: 30%;
    height: 30px;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

form textarea{
    width: 30%;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -60px;
} 

#estrela{
    margin-top: 6%;
}

#legend-estrela{
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
    color: white;
    text-shadow: 2px 2px 2px black;  
}

#estrela_options{
    width: 20%;
    height: 30px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
}

#checkbox{
    padding-left: 1.5%;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 1.2em;    
}

.legend_outros{
    text-align: center;
    font-size: 25px;
    margin-top: 0.5%;
    color: white;
    text-shadow: 2px 2px 2px black;    
}

#radio_options{
    margin-top: 1%;
    text-align: center;  
}

.radio{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    width: 12%;
    font-size: 1.5em;
}

#enviar{
    margin-top: 10px;
    width: 30.4%;  
    height: 40px;
    margin-bottom: 1%;  
    background-color:orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
    transition: 0.5s all;
    cursor: pointer;
}

#enviar:hover{
    background-color: darkorange;
    transform: scale(1.04); 
}
