body{
    background-image: repeating-linear-gradient(0deg, transparent 20px 78.1px, black 1px 80px), 
    repeating-linear-gradient(90deg, rgb(4, 169, 13) 20px 78.1px, black 1px 80px);
}
.barratop{
    height:85px;
    width:100%;
    background-color:orange;
    margin-bottom:50px;
}
.logopreto{
    width:14%;
    height: 85px;
    background-color:black;
}
.logo{
    width: 90%;
    height: 250%;
    margin-left:3%;
    margin-top: -30%;
}

nav{
    position: absolute;
    top: 5px;
    right: 80px;
}

a{
    text-decoration: none;
}

nav li{
    padding: 10px;
    text-shadow: 2px 2px 1px black;
    color: white;
    font-size: 25px;
    list-style-type: none;
    font-weight: bold;
    background-size: 50%;
    background-color: black;
    border: 1px solid black;
    border-radius: 15px 15px 15px 15px;
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 5px;
    margin-bottom: 95px;
    text-shadow: 3px 3px 4px black;
    font-family: 'Anton', sans-serif;
    font-weight: normal;
}

li{
    list-style: none;
}

.titulo {
    color: rgb(255, 238, 0);
    margin: 60px 0;
    margin-left: 10px;
    font-size: 30px;
    text-shadow: 4px 4px 4px black;
    font-family: 'Anton', sans-serif;
}

.triangulo{
    margin-left: 5px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 22px solid yellow;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0px solid transparent;
    filter: drop-shadow(3px 3px 1px black);
}

li table{
    border: 1px solid black;
    width: 90%;
    height: 30%;
    margin-left: 15px;
}

thead{
    background-color: rgb(39, 39, 39);
    color: white;
    text-align: center;
}

tbody{
    text-align: center;
    background-color: white;
}

tr th{
    border: 1px solid black;
    width: 10%;
    height: 40px;
    font-weight: bold;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

tr td{
    border: 1px solid black;
    height: 200px;
    vertical-align: middle;   
    padding: 0 20px; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

#descricao{
    width: 40%;  
}


#dropdown{
    background-color: rgba(255, 255, 255, 0.249);
    padding: 3%;
    width: 90%;
    margin-left: 1.1%;
}

.videos{
    display: flex;
    justify-content: center;
    margin-right: -2.5%;
}
.videos > div{
    display: inline-block;
    margin-right: 3%;
}

#video3{
    display: flex;
    margin-top: 3%;
    justify-content: center;
}