*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #0038FF;
    overflow: hidden;
}

header{
    height:11vh;
    width:100%;
    background-image: linear-gradient(to right, black 13.8vw, rgb(255, 157, 0) 1vw);
}

#logo{
    width: 12vw;
    height: 8vh;
    margin-top: 1.2vh;
    margin-left: 0.75vw;
}

#boas_vindas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    display: none;
}

#logoP{
    filter: drop-shadow(0.4vw 0.8vh 0.1vw rgb(0, 0, 0));
    width: 19vw;
    margin-top: 2.5vh;
}

h2{
    color: rgb(255, 255, 255);
    margin-top: 4.2vh;
    font-size: 2.1vw;
    text-shadow: 0.1vw 0.3vh  rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
}

#animes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5vh;
    padding: 0 19vh;
}

.div_animes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

a{
    text-decoration: none;
}

.evlp_animes{
    background-color: rgba(255, 255, 255, 0.154);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5.6vh 3.8vw;
    border-radius: 20px;
    transition: 0.21s linear;
    position: relative;
    cursor: pointer;
}

/*DRAGON BALL Z*/
#gif_db{
    width: 22vw;
    position: absolute;
    top: 4vh;
    left: 6.8vw;
    pointer-events: none;
    z-index: 1;
}

/* HOVER GIF_DB */
#div_db:hover #img_db{
    opacity: 70%;
}

#img_db{
    width: 15.8vw;
}

/*ONE PIECE*/
#gif_op{
    position: absolute;
    z-index: 1;
    width: 80vw;
    bottom: 10vh;
    left: -7vw;
    pointer-events: none;
}

/* HOVER GIF_OP */
#div_op:hover #img_op{
    opacity: 70%;
}

#img_op{
    width: 15.8vw;
    clip-path: circle();
}

/*NARUTO SHIPPUDEN*/
#padding_naruto{
    padding: 5.6vh 3vw;
}

#gif_naruto{
    position: absolute;
    z-index: 1;
    width: 63vw;
    bottom: 20vh;
    left: -6vw;
    pointer-events: none;
}

/* HOVER GIF_NARUTO */
#div_naruto:hover #img_naruto{
    opacity: 70%;
}

#img_naruto{
    width: 15.8vw;
    clip-path: circle();
}

h3{
    color: rgb(255, 255, 255);
    font-size: 2.2vw;
    text-shadow: 0.2vw 0.2vh 0.4vw rgb(0, 0, 0);
    margin-top: 3vh;
}

/*HOVER ANIME*/

.evlp_animes:hover{
    padding: 5.6vh 4.3vw 8vh 4.3vw;
}

#padding_naruto:hover{
    padding: 5.6vh 3.5vw 8vh 3.5vw;
}