body{
    background-color: #0038FF;
    margin: 0%;
}

.barratop{
    height:11.3vh;
    width:100%;
    background-image: linear-gradient(to right, black 13.9vw, orange 50px);
}

.logo{
    position: relative;
    width: 13%;
    height: 250%;
    top: -75%;
    left: 0.5%;
}

#logop{
    width: 20%;
    height: 15%;  
    margin: auto;
    display: block;
    margin-top: -5.2%;
    margin-bottom: -40px;
    filter: drop-shadow(5px 5px 1px black);
}

nav{
    position: absolute;
    top: 0.8%;
    right: 4%;
    font-family: monospace;
}

nav li{
    padding: 10px;
    text-shadow: 2px 2px 1px black;
    color: white;
    font-size: 25px;
    list-style-type: none;
    font-weight: bold;
    background-size: 50%;
    background-color: black;
    border: 1px solid black;
    border-radius: 15px 15px 15px 15px;
}

p{
    text-shadow: 2px 2px 2px black;
    color: white;
    margin-top: -4%;
    margin-bottom: -6%;
    text-align: center; 
    font-size: 200%;
}

ul{
    display: flex;
    justify-content: center;
    padding-right: 2.4%;
}

.animes{
    margin: 40px 40px;
    width: 400px;
    height: 400px;
    text-align: center;
    margin-top: 80px;
    padding-top: 10%;
    background-color: rgba(255, 255, 255, 0.154);
    border-radius: 20px;
    transition: 0.5s all;
}

.animes:hover{
    width: 420px;
    height: 420px;
}

.dbimg{
    width: 68.5%;
    height: 68.5%;
    border-radius: 200%;
    object-fit: cover;   
    margin-top: -7px; 
}

#dbtext{
    margin-top: 7%;
}

.animesimg{
    width: 66%;
    height: 66%;
    border-radius: 50%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: white;
}

main li{
    list-style-type: none;
}

h3{
    font-size: 2em;
    margin-top: 8.6%;
    text-shadow: 2px 2px 2px black;
    color: white;
}